<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>서울대학교 컴퓨터공학 석사 <br> Master's Degree in Computer Science</h1>
            <span><em>Department of Computer Science and Engineering, Seoul National University</em></span>
            <span><address>Seoul, Korea</address><time>Sep. 2016 to Feb. 2020</time></span>
        </header>
        <p>
        Thesis : "A Mobile VR Motion Controller with 6 DoF positioning using Light Polarization"
        Vision and Learning Lab (Prof. Gunhee KIM) <br>
Research Interest : Virtual Reality, HCI, Deep learning
        </p>
    </article>
    <article>
        <header>
            <h1>고려대학교 전기전자전파공학 학사 <br> B.Eng in Electrical Engineering</h1>
            <span><em>Korea University</em></span>
            <span><address>Seoul, Korea</address><time>2011 to 2015</time></span>
        </header>
        <p>
            <em></em>
        </p>
    </article>
</section>
