<section class="thirteen columns">
    <h1>Awards</h1>
    <article>
        <header>
            <h1><a href="https://www.forbes.com/profile/polariant/?fbclid=IwAR28bTYoUe4UadI-zJbjfAIZhLR2zmJo34iG4i97ludOqj8gJl65MELtFL4&list=30under30-asia-enterprise-technology&sh=558d416a6bd1">2020 포브스 선정 30세 이하 아시아 차세대 리더 Forbes 30 under 30 2020 Asia</a></h1>
            <span><em>Enterprise Technology</em></span>
            <span> <time>April. 2020</time></span>
        </header>
        <p>
            Honor to be selected to the Forbes 30 under 30 Asia 2020 - Enterprise Technology as Co-founders of POLARIANT.
            Forbes 30 under 30 Asia 2020 is the selection of innovators in each sector under the age of 30 in Asia.
        </p>
    </article>
    <article>
        <header>
            <h1>Best Full Paper Award - Runner Up</h1>
            <span><em>25th ACM Symposium on Virtual Reality Software and Technology</em></span>
            <span> <time>Nov. 2019</time></span>
        </header>
        <p>
        </p>
    </article>
    <article>
        <header>
            <h1>대한민국 인재상 Talent Award of KOREA</h1>
            <span> <time>Dec. 2017</time></span>
        </header>
        <p>
          The Talent Award of Korea (Korean: 대한민국 인재상) is an award bestowed by the Deputy Prime Minister and Minister of Education of Korea from 2014. Until 2013, this was the Talent Medal of Korea, bestowed by the President of the Republic of Korea with a post-nominal (KTM) and Presidential Medal. It recognizes those individuals who are likely to become Korea's future leaders and have performed exemplary talents or outstanding meritorious service. 50 high school students, 40 college students, and 10 adults are selected based on their intelligence, passion, creativity, and community spirit.
        </p>
    </article>
    <article>
        <header>
            <h1>제 1회 한국공학한림원 차세대공학리더상 대상 Grand Excellence Prize</h1>
            <span><em>1st NAEK Next Generation Award</em></span>
            <span> <time>Dec. 2016</time></span>
        </header>
        <p>
           presented by National Academy of Engineering of KOREA
        </p>
    </article>
    <article>
        <header>
            <h1>Encouragement Prize</h1>
            <span><em>The 3rd Global Datathon</em></span>
            <span> <time>2015</time></span>
        </header>
        <p>
           presented by MSIP, UN Pulse
        </p>
    </article>
    <article>
        <header>
            <h1>The Excellence Award</h1>
            <span><em>Korea Computer Congress Paper Competition</em></span>
            <span><time>2014</time></span>
        </header>
        <p>
            presented by Korea Institute of Information Scientists and Engineers<
        </p>
    </article>
    <article>
        <header>
            <h1>제 17회 삼성전자 휴먼테크 대상 은상 The Silver Prize(Physics)</h1>
            <span><em>The 17th SAMSUNG HUMANTECH Thesis Prize</em></span>
            <span><time>2011</time></span>
        </header>
        <p>
        presented by SAMSUNG Electronics
        </p>
    </article>
</section>
