<section class="thirteen columns">
    <h1>Work Experience</h1>
    <article>
        <header>
            <h1>R&D Manager, SOCAR</h1>
            <span><address>Seoul, KOREA</address><time>May.2019 to Present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Co-Founder/CEO, POLARIANT</h1><p id="acquisition">acquired by SOCAR in April, 2019</p>
            <span><address>Seoul, KOREA</address><time>2015 to Dec.2019</time></span>
        </header>
        <p>POLARIANT opens a new era of precise indoor positioning through a technology that polarizes
            an indoor light source to find the 3-dimensional location and posture of objects. The
            core technology uses a small polarizing filter to be attached to any indoor lighting(POLAR) and a
            small sensor ‘ANT’ that receives the angle and distance data from the sensed
            light. It enable to make self-driving AGV(Automated Guided Vehicles) in smart factory, smart parking system which includes optimal path navigation for cars. 
        </p>
        <a href="http://www.theinvestor.co.kr/view.php?ud=20190417000497" id="acquisition">POLARIANT is acquired by SOCAR which is No. 1 Mobility platform holder in South Korea in April, 2019.</a>
    </article>
    <article>
        <header>
            <h1>President, NAEK YEHS(Young Engineers Honor Society)</h1>
            <span><address>Seoul, KOREA</address><time>Dec.2015 to Dec.2016</time></span>
        </header>
        <p>YEHS was founded by engineers from diverse universities to promote the exchange between
the engineering students in various majors and to construct the long-term national
scale network of engineers. It is sponsored by NAEK(National Academy fo Engineering
KOREA). YEHS selects the members through the recommendation of the President
of each university and the Dean of engineering college.
Currently, students and graduates of a variety of Universities are involved. There are
more than 1000 members from 30 universities</p>
    </article>
    <article>
        <header>
            <h1>Co-chair, Student Committee of WEEF&GEDC 2016, SEOUL</h1>
            <span><address>Seoul, KOREA</address><time>2016</time></span>
        </header>
        <p>WEEF & GEDC 2016, Seoul is The World Engineering Education Forum & The Global Engineering
Deans Council, 2016 Seoul. This Global forum was participated 41 countries 1,550
people (overseas participants 550). It was held Nov. 7 - Nov. 11 in COEX, Seoul</p>
    </article>
    <article>
        <header>
            <h1>Co-chair, GSF(Global Student Forum) 2016, SEOUL</h1>
            <span><address>Seoul, KOREA</address><time>2016</time></span>
        </header>
        <p>Global Student Forum 2016, Seoul was participated 17 countries 120
people which includes 60 international students). It was held Nov. 4 - Nov. 6 in Ewha women university successfully.</p>
    </article>

    <article>
        <header>
            <h1>Research Internship, Tgrape, inc.</h1>
            <span><address>Seoul, KOREA</address><time>2014</time></span>
        </header>
        <p>’FingerStock’ which recommend stock items based on machine
learning algorithms such as SVM, Neural net, MARS etc. My job was modifying
algorithms to enhance recommendation quality</p>
    </article>
    <article>
        <header>
            <h1>Software Maestro, Ministry of Science, ICT and Future Planning </h1>
            <span><address>Seoul, KOREA</address><time>2013 to 2014 </time></span>
        </header>
        <p>SW Maestro is honorable program to promote the best software engineer/entrepreneur
sponsored by korean government. I advanced second steps to achieve SW Maestro status
in 2014 </p>
    </article>    
</section>
