<section class="thirteen columns">
    <!-- <h1>Work Experience</h1> -->
    <article>
        <header>
            <h1>데이터 사이언티스트, (주)쏘카 Data Scientist, SOCAR</h1>
            <span><address>Seoul, KOREA</address><time>March. 2020 to Present</time></span>
        </header>
        <p> Business development for the online used car retail service, CASTING by SOCAR and planned operations using data science. 
            data modeling for vehicle selection, data-driven Inventory management, P&L management, machine Learning based pricing modeling, leading partnership with external sales channels, leading partnership with financial partners.
        </p>
    </article>
    <article>
        <header>
            <h1>소프트웨어 엔지니어, (주)쏘카 Software Engineer, SOCAR</h1>
            <span><address>Seoul, KOREA</address><time>May. 2019 to March. 2020</time></span>
        </header>
        <p> Android App Devlelopment
        </p>
    </article>
    <article>
        <header>
            <h1>공동창업자 / 대표이사, (주)폴라리언트 Co-Founder/CEO, POLARIANT <a href="http://www.theinvestor.co.kr/view.php?ud=20190417000497">(acquired by SOCAR)</a></h1>
            <span><address>Seoul, KOREA</address><time>2015 to Dec.2019</time></span>
        </header>
        <p>POLARIANT opens a new era of precise indoor positioning through a technology that polarizes
            an indoor light source to find the 3-dimensional location and posture of objects. The
            core technology uses a small polarizing filter to be attached to any indoor lighting(POLAR) and a
            small sensor ‘ANT’ that receives the angle and distance data from the sensed
            light. It enable to make self-driving AGV(Automated Guided Vehicles) in smart factory, smart parking system which includes optimal path navigation for cars. 
            <a href="http://www.theinvestor.co.kr/view.php?ud=20190417000497">POLARIANT is acquired by SOCAR which is No. 1 Mobility platform holder in South Korea in April, 2019.</a>
        </p>
    </article>
    <article>
        <header>
            <h1>회장, 한국공학한림원 차세대공학리더 President, <a href="http://yehs.or.kr/main/main.php">NAEK YEHS(Young Engineers Honor Society)</a></h1>
            <span><address>Seoul, KOREA</address><time>Dec.2015 to Dec.2016</time></span>
        </header>
        <p>YEHS was founded by engineers from diverse universities to promote the exchange between
the engineering students in various majors and to construct the long-term national
scale network of engineers. It is sponsored by NAEK(National Academy fo Engineering
KOREA). YEHS selects the members through the recommendation of the President
of each university and the Dean of engineering college.
Currently, students and graduates of a variety of Universities are involved. There are
more than 1000 members from 30 universities</p>
    </article>
    <article>
        <header>
            <h1>학생위원회 의장, 2016 세계공학교육포럼&세계공과대학장협의회 Co-chair, Student Committee of WEEF&GEDC 2016, SEOUL</h1>
            <span><address>Seoul, KOREA</address><time>2016</time></span>
        </header>
        <p>WEEF & GEDC 2016, Seoul is The World Engineering Education Forum & The Global Engineering
Deans Council, 2016 Seoul. This Global forum was participated 41 countries 1,550
people (overseas participants 550). It was held Nov. 7 - Nov. 11 in COEX, Seoul</p>
    </article>
    <article>
        <header>
            <h1>소프트웨어 마에스트로 4기 Software Maestro, Ministry of Science, ICT and Future Planning </h1>
            <span><address>Seoul, KOREA</address><time>2013 to 2014 </time></span>
        </header>
        <p>SW Maestro is honorable program to promote the best software engineer/entrepreneur
sponsored by korean government. I advanced second steps to achieve SW Maestro status
in 2014 </p>
    </article>
</section>
